In [24]:
# start scraping information from just one page

from urllib.request import urlopen
from bs4 import BeautifulSoup

url='https://boston.craigslist.org/search/cta?s=0'

html = urlopen(url)
bs = BeautifulSoup(html.read(),'html.parser')
cars=bs.find_all('li',{ 'class':'result-row'})

scrapedCarsList=[]
for car in cars:
    salesTitle=car.find('a',{'class':'result-title hdrlnk'})
    price=car.find('span',{'class':'result-price'})
    postingDate=car.find('time',{'class':'result-date'})
    #Some listings do not have a price.
    if price!=None:
        new_car=[salesTitle.get_text(),postingDate.get_text(),price.get_text()]
        #print(new_car) #uncomment to see all the cars with a newline
        scrapedCarsList.append(new_car)
print(scrapedCarsList[0:3]) #uncomment to see the list of cars on the first page
len(scrapedCarsList)

[['2018 Chevrolet Silverado 3500HD', 'Feb 19', '$45000'], ['2006 Mercedes Benz C280 4matic', 'Feb 19', '$4995'], ['Car', 'Feb 19', '$3500']]

120

In [25]:
# now let's revise the code to write the results of the first page into a csv file named 'CarCraglist.csv'.

from urllib.request import urlopen
from bs4 import BeautifulSoup
import csv

with open('CarCraglist.csv', 'w',newline='') as myFile:
    writer = csv.writer(myFile)
    writer.writerow(["sales Title", "Listing Date", "Price"])

url='https://boston.craigslist.org/search/cta?s=0'
html = urlopen(url)
bs = BeautifulSoup(html.read(),'html.parser')
cars=bs.find_all('li',{ 'class':'result-row'})

scrapedCarsList=[]
for car in cars:
    salesTitle=car.find('a',{'class':'result-title hdrlnk'})
    price=car.find('span',{'class':'result-price'})
    postingDate=car.find('time',{'class':'result-date'})
    #Some listings do not have a price.
    if price!=None:
        new_car=[salesTitle.get_text(),postingDate.get_text(),price.get_text()]
        scrapedCarsList.append(new_car)

with open('CarCraglist.csv', 'a',newline='',encoding='utf-8') as myFile:
    writer = csv.writer(myFile)
    writer.writerows(scrapedCarsList)

In [26]:
#  create the list of URL's for the most recent 1,200 posting

baseURL='https://boston.craigslist.org/search/cta?s='
urlList=[]
for i in range(0,1201,120):
    newURL=baseURL+str(i)
    urlList.append(newURL)

print(urlList[0:50]) #uncomment to see the urls
len(urlList)

['https://boston.craigslist.org/search/cta?s=0', 'https://boston.craigslist.org/search/cta?s=120', 'https://boston.craigslist.org/search/cta?s=240', 'https://boston.craigslist.org/search/cta?s=360', 'https://boston.craigslist.org/search/cta?s=480', 'https://boston.craigslist.org/search/cta?s=600', 'https://boston.craigslist.org/search/cta?s=720', 'https://boston.craigslist.org/search/cta?s=840', 'https://boston.craigslist.org/search/cta?s=960', 'https://boston.craigslist.org/search/cta?s=1080', 'https://boston.craigslist.org/search/cta?s=1200']

11

In [27]:
#  trun the scraping script into a function so that it can  takes the page number (0, 120, 240, ...) as input and returns a list of all the cars on the page in a list of lists format.

def craigslistCarsScrape(pageNumber):
    print('*** Scraping cars on page:',int(pageNumber/120+1),'***\n\n')

    baseURL='https://boston.craigslist.org/search/cta?s='
    url=baseURL+str(pageNumber)
    html = urlopen(url)
    bs = BeautifulSoup(html.read(),'html.parser')
    cars=bs.find_all('li',{ 'class':'result-row'})
    scrapedCarsList=[]            
    for car in cars:
        salesTitle=car.find('a',{'class':'result-title hdrlnk'})
        price=car.find('span',{'class':'result-price'})
        postingDate=car.find('time',{'class':'result-date'})
        #Some listings do not have a price.
        if price!=None:
            new_car=[salesTitle.get_text(),postingDate.get_text(),price.get_text()]
            scrapedCarsList.append(new_car)
    return scrapedCarsList

In [28]:
# error handling to make the codes more robust

from urllib.error import HTTPError
from urllib.error import URLError

def craigslistCarsScraper(pageNumber):
    print('*** Scraping cars on page:',int(pageNumber/120+1),'***\n\n')

    baseURL='https://boston.craigslist.org/search/cta?s='
    url=baseURL+str(pageNumber)
    
    try:
        
        html = urlopen(url)
    
    except HTTPError as e:
        print(e)
        print('-----------------------HTTPError----------------------')
        return None
    except URLError as e:
        print('Server cound not be found')
        print('-----------------------URLError----------------------')
        return None
    
    bs = BeautifulSoup(html.read(),'html.parser')
    
    try:
        
        cars=bs.find_all('li',{ 'class':'result-row'})
    
    except AttributeError as e:
        print('Tag was not found')
        print('-----------------------AttributeError----------------------')
    
    else:
        scrapedCarsList=[]
        for car in cars:
            salesTitle=car.find('a',{'class':'result-title hdrlnk'})
            price=car.find('span',{'class':'result-price'})
            postingDate=car.find('time',{'class':'result-date'})
            #Some listings do not have a price.
            if price!=None:
                new_car=[salesTitle.get_text(),postingDate.get_text(),price.get_text()]
                    
                scrapedCarsList.append(new_car)
               
        return scrapedCarsList

In [29]:
craigslistCarsScraper(600)

*** Scraping cars on page: 6 ***

[['2009 Honda Civic LX sedan', 'Feb 19', '$3700'],
 ['2006 Ford F150 Crew Cab XLT 4x4', 'Feb 19', '$7500'],
 ['1998 Toyota Camry Runs Mechanic Special', 'Feb 19', '$700'],
 ['06 volvo xc90 awd seats 7! loaded cheap 4x4!', 'Feb 19', '$3475'],
 ['2005 Lexus SC 430 Hard Top Convertible 81K', 'Feb 19', '$16356'],
 ['2009 Infinity G 37x Silver on tan Leather Just 76K Very ,Very Nice!',
  'Feb 19',
  '$10250'],
 ['2005 Lexus SC 430 Hard Top Convertible 81K', 'Feb 19', '$16356'],
 ['2005 TOYOTA TUNDRA 4WD DOUBLE CAB SR5/TRD PKG CLEAN SHARP SERVICED',
  'Feb 19',
  '$8200'],
 ['2008 Pontiac Solstice Convertible 66K Stick shift', 'Feb 19', '$8750'],
 ['2005 Lexus SC 430 Hard Top Convertible 81K', 'Feb 19', '$16256'],
 ['2009 FORD F150 V8 4WD SUPR CREWCAB XLT CHRMES FBGLASS CAP XCLEAN SHARP',
  'Feb 19',
  '$13500'],
 ['2004 Toyota Tundra', 'Feb 19', '$6995'],
 ['2012 Mercedes-Benz C-Class  sedan C300 4MATIC (SILVER)',
  'Feb 19',
  '$12495'],
 ['2012 Mercedes-Benz C-Class  sedan C300 4MATIC (SILVER)',
  'Feb 19',
  '$12495'],
 ['2007 TOYOTA COROLLA', 'Feb 19', '$7995'],
 ['Mercedes Benz E350 for sale', 'Feb 19', '$875'],
 ['Cayenne Turbo 15k Miles', 'Feb 19', '$1'],
 ['2010 Ford E250. 9,600 Original miles', 'Feb 19', '$15500'],
 ['2016 Honda Accord Sedan Sport - WE CAN FINANCE ANYONE', 'Feb 19', '$18390'],
 ['2008 Volkswagen Passat Komfort Wagon - Loaded - Needs Nothing',
  'Feb 19',
  '$4500'],
 ['2004 Mustang Cobra Mystichrome', 'Feb 19', '$17600'],
 ['2007 Town & Country (87k Miles Only)', 'Feb 19', '$3100'],
 ['2005 CHEVY TRAILBLAZER 4X4', 'Feb 19', '$3500'],
 ['2013 Ford Econoline E150 Van', 'Feb 19', '$13488'],
 ['2015 Hyundai Genesis Coupe  coupe 3.8 Ultimate (Tsukuba Red)',
  'Feb 19',
  '$19488'],
 ['2006 Ford Ranger XLT', 'Feb 19', '$6500'],
 ['GREAT DEAL! 2014 Toyota Corolla SPORT!', 'Feb 19', '$11800'],
 ['2007 SUBARU OUTBACK WAGON 4WD', 'Feb 19', '$4500'],
 ['2006 Jeep Liberty 4wd (jeep 65)', 'Feb 19', '$4500'],
 ['2008 FORD F-350 4X4 DUMP TRUCK', 'Feb 19', '$18900'],
 ['1936 Chevy pickup frame & parts', 'Feb 19', '$1000'],
 ['2006 *Honda* *S2000* *MT* Suzuka Blue Metallic', 'Feb 19', '$24900'],
 ['2014 Chrysler Town and Country  mini-van Touring L 4dr Mini',
  'Feb 19',
  '$13995'],
 ['2015 *BMW* *X4* *xDrive35i* Black Sapphire Metallic', 'Feb 19', '$29900'],
 ['2005 Cadillac STS ( Luxury Car)', 'Feb 19', '$3500'],
 ['2005 JEEP LIBERTY  4WD 113k miles', 'Feb 19', '$4900'],
 ['2013 *BMW* *X5* *X5 xDrive35d* Deep Sea Blue Metalli', 'Feb 19', '$21400'],
 ['2017 Alfa Romeo Giulia Ti AWD', 'Feb 19', '$23500'],
 ['2002 Volvo XC AWD', 'Feb 19', '$800'],
 ['2010 AWD HYUNDAI SANTA FE SE Sports Utility', 'Feb 19', '$6600'],
 ['2007 Gmc w 4500 16 ft box truck', 'Feb 19', '$5000'],
 ['2000 Grand Cherokee', 'Feb 19', '$1000'],
 ['Chevy Silverado 4x4 LOW MILES', 'Feb 19', '$1'],
 ['2003 Saturn ION ( 87k miles ONLY)', 'Feb 19', '$2500'],
 ['2006 BMW X5 4.8IS', 'Feb 19', '$8800'],
 ['2001 yamaha midnight star all cusom sounds mean', 'Feb 19', '$1'],
 ['2010 Toyota Tacoma  truck Base (Black Sand Pearl)', 'Feb 19', '$19995'],
 ['RAMP TRUCK  3500HD', 'Feb 19', '$3500'],
 ['2013 Kia Soul  + 4dr Wagon 6A * Remote Starter, 4 Cylinder*',
  'Feb 19',
  '$6995'],
 ['2002 Ford F150 Lariat (Parts Truck)', 'Feb 19', '$1'],
 ['2010-HYANDAI SONATA- ALL THE TOYS- 2ND OWNER- SUNROOF/////////////////',
  'Feb 19',
  '$4650'],
 ['2006 Mazdaspeed 6', 'Feb 19', '$8500'],
 ['2002 Ford F-350 Flat bed truck Diesel', 'Feb 19', '$5400'],
 ['1991 Jeep Wrangler', 'Feb 19', '$4900'],
 ['2004 Toyota Highlander Sport 74K Miles MUST SEE $$$$$$$',
  'Feb 19',
  '$6495'],
 ['2002 Jeep SUV BEST OFFER!', 'Feb 19', '$1000'],
 ['Chevy Sileverado 2003', 'Feb 19', '$6000'],
 ['1998 jeep grand cherokee', 'Feb 19', '$1800'],
 ['65 C10 chevy pick up truck', 'Feb 19', '$8900'],
 ['2015 Nissan Murano SL suv *per month', 'Feb 19', '$263'],
 ['2011 Toyota Tacoma Base pickup *per month', 'Feb 19', '$244'],
 ['2016 BMW X3 xDrive28i suv *per month', 'Feb 19', '$322'],
 ['2016 *Jeep* *Grand Cherokee* *Limited* Brilliant Bla', 'Feb 19', '$29168'],
 ['2006 Nissan Murano SL, 84k miles, Silver, Certified Pre Owned',
  'Feb 19',
  '$1400'],
 ['2006 BMW 325i with 87k miles', 'Feb 19', '$4400'],
 ['2012 GMC 3500 12ft and 16ft Box Truck Liquidation Sale!',
  'Feb 19',
  '$10490'],
 ['$$CHEAP FORD MUSTANG CONVERTIBLE-2007', 'Feb 19', '$4000'],
 ['2015 RAM Ram Pickup 2500 Tradesman 4x4 4dr Crew Cab 6.3 ft. SB Pickup EVERYONE I',
  'Feb 19',
  '$27995'],
 ['2008 Subaru Impreza 2.5i AWD 4dr Wagon 5M - EASY FINANCING!',
  'Feb 19',
  '$8998'],
 ['1972 FJ40 Land Cruiser', 'Feb 19', '$45000'],
 ['1999 Toyota Camry Solara', 'Feb 19', '$2995'],
 ['2002 GMC Sierra 1500  super clean', 'Feb 19', '$3995'],
 ['F350 2004 With HD2 Fisher Plow*', 'Feb 19', '$15700'],
 ['good condition Nissan Murano automatic transmission, air conditioning,',
  'Feb 19',
  '$1000'],
 ['2005 Ford F-550 XL 4x4 Diesel Dump', 'Feb 19', '$13950'],
 ['2002 ford f350 4wd diesel 78K', 'Feb 19', '$15900'],
 ['1997 Dodge Ram 4x4 1/2 ton with Curtis plow', 'Feb 19', '$1'],
 ['2005 dodge dakota xlt 4wd quant cab', 'Feb 19', '$3500'],
 ['2004 volvo c70 123k automatic convertible', 'Feb 19', '$4999'],
 ['One Of A Kind F-150 Shelby', 'Feb 19', '$45000'],
 ['2006 FORD EXPLORER ADVANCEDTRAC RSC 139K ONE OWNER', 'Feb 19', '$4999'],
 ['2010-HYANDAI SONATA- -SEE PICTURES & CALL BEFORE IT IS SOLD',
  'Feb 19',
  '$4650'],
 ['2000 Buick LeSabre Custom', 'Feb 19', '$500'],
 ['2018 Toyota RAV4 XLE AWD 4dr SUV', 'Feb 19', '$26975'],
 ['2010 BMW 328xi', 'Feb 19', '$4495'],
 ['2013 Nissan JUKE SV 4dr Crossover CVT', 'Feb 19', '$9975'],
 ['1957 Ford Thunderbird', 'Feb 19', '$60000'],
 ['2015 Nissan Versa 1.6 S 4dr Sedan 5M', 'Feb 19', '$6975'],
 ['2011 Lexus IS 250C Base 2dr Convertible 6A', 'Feb 19', '$16975'],
 ['2008 Scion tC', 'Feb 19', '$2500'],
 ['2007 Land Rover LR3 V8 SE 4dr SUV 4WD', 'Feb 19', '$8975'],
 ['2013 Fiat 500 Turbo, 57k, 5-Speed, Gray/Black Leather, P.Roof, Wow!!',
  'Feb 19',
  '$8995'],
 ['2013 Honda Pilot EX', 'Feb 19', '$12488'],
 ['2008 Nissan Altima', 'Feb 19', '$3700'],
 ['2010 Jeep Grand Cherokee Laredo 4x4 4dr SUV', 'Feb 19', '$5975'],
 ['Best Priced*2013*Raptor*Ford', 'Feb 19', '$20500'],
 ['2014 Hyundai Santa Fe Sport 2.4L 4dr SUV', 'Feb 19', '$13975'],
 ['2015 BMW 3 Series 328i xDrive AWD 4dr Sedan SULEV', 'Feb 19', '$21975'],
 ['2010 Audi Q7 3.0 quattro TDI Premium Plus AWD 4dr SUV', 'Feb 19', '$12975'],
 ['2012 Jeep Wrangler Unlimited Sport 4WD, 101k, Auto, Silver/Black, Wow!',
  'Feb 19',
  '$19995'],
 ['2012 Volkswagen Jetta SportWagen TDI 4dr Wagon 6A', 'Feb 19', '$7975'],
 ['2013 Volkswagen Touareg VR6 Lux AWD 4dr SUV', 'Feb 19', '$13975'],
 ['2014 Volkswagen Jetta TDI 4dr Sedan 6A w/Premium', 'Feb 19', '$8975'],
 ['2010 Toyota RAV4 Sport 4x4 4dr SUV', 'Feb 19', '$10975'],
 ['2009 Jeep Wrangler X 4x4 2dr SUV', 'Feb 19', '$11975'],
 ['2012 BMW X5 xDrive35i Premium AWD 4dr SUV', 'Feb 19', '$12975'],
 ['2011 Volkswagen Jetta TDI 4dr Sedan 6M', 'Feb 19', '$7975'],
 ['2011 Volkswagen Golf TDI 2dr Hatchback 6A', 'Feb 19', '$6975'],
 ['2012 ford focus 80k miles great condition', 'Feb 19', '$4499'],
 ['2009 Toyota Corolla LE 4dr Sedan 4A', 'Feb 19', '$5975'],
 ['MAZDA MIATA MX-5', 'Feb 19', '$1'],
 ['2001 Toyota Camry LE  with only 119 k for', 'Feb 19', '$3185'],
 ['2010 Toyota Camry LE 4dr Sedan 6A', 'Feb 19', '$10975'],
 ['2015 GMC Sierra SLE Double Cab 4x4, 63k Miles, Auto, Grey/Grey, Nice!!',
  'Feb 19',
  '$22995']]

In [30]:
# run the function in a loop and write the resutls on a csv

with open('craigslist_cars_final.csv', 'w',newline='') as myFile:
    writer = csv.writer(myFile)
    writer.writerow(["Listing Title", "Listing Date", "Price"])

with open('craigslist_cars_final.csv', 'a',newline='',encoding='utf-8') as myFile:
    writer = csv.writer(myFile)
    for i in range(0,1201,120):
        scrapedCarsList=craigslistCarsScraper(i)
        writer.writerows(scrapedCarsList)

print('----------------------------------------Well done---------------------------------------------- ')
print('-----------------------------------Scraping completed------------------------------------------ ')
print('------------Please find the csv file in the folder where this scraping file exists------------- ')

*** Scraping cars on page: 1 ***


*** Scraping cars on page: 2 ***


*** Scraping cars on page: 3 ***


*** Scraping cars on page: 4 ***


*** Scraping cars on page: 5 ***


*** Scraping cars on page: 6 ***


*** Scraping cars on page: 7 ***


*** Scraping cars on page: 8 ***


*** Scraping cars on page: 9 ***


*** Scraping cars on page: 10 ***


*** Scraping cars on page: 11 ***


----------------------------------------Well done----------------------------------------------
-----------------------------------Scraping completed------------------------------------------
------------Please find the csv file in the folder where this scraping file exists-------------